<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E38D6F91E9BCFD200E5FAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E38D7121E9BCFD200E5FAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E38D71D1E9BCFD200E5FAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
